@font-face {
  font-family: "Moloko"; /* любое удобное имя */
  src: url("./fonts/moloko.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  font-family: "Moloko", sans-serif;
}

#particles-js {
  background: #e8d1a7;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #442d1c;
}

.title h1 {
  font-size: 6rem;
  text-align: center;
}

.heart {
  font-size: 3rem;
}

.title p {
  font-size: 3rem;
  text-align: center;
}

.timer {
  opacity: 1;
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);
  width: 90%;
  padding: 0.5rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #743014;
  text-align: center;
  font-size: 6rem;
  border: 0.2rem solid #743014;
  border-radius: 1rem;
}

